<table class="reservations-table tablesorter {% if condensed %}condensed{% endif %}">
  <thead>
    <tr>
      <th>Title</th>
      {% if not hide_room %}
        <th>Room</th>
      {% endif %}
      <th class="col-min col-start">Start</th>
      <th class="col-min">End</th>
      {% if not hide_user %}
        <th class="col-min">User</th>
      {% endif %}
      <th class="col-min no-sort">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for r in reservations %}
      <tr>
        <td>
          {{ r.title }}
        </td>
        {% if not hide_room %}
          <td class="col-min">
            <a href="{{ r.room.get_absolute_url }}">
              {{ r.room.name }}
            </a>
          </td>
        {% endif %}
        <td class="col-min">
          {{ r.start }}
        </td>
        <td class="col-min">
          {{ r.end }}
        </td>
        {% if not hide_user %}
          <td class="col-min">
            <a href="{% url "user.detail" slug=r.reserver.username %}">
              {{ r.reserver.get_full_name }}
            </a>
          </td>
        {% endif %}
        <td>
          <a class="button tiny secondary ffab-after fa-eye" href="{% url "reservation.detail" pk=r.pk %}">
            view
          </a>
        </td>
      </tr>
      {% empty %}
        <tr>
          <td class="text-center" colspan="6">No reservations</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
