/* for form hints */
.hint {
  display: block;
  margin-bottom: 10px;
  color: #737373;
  font-size: 0.8rem;
}

form .textInput, form small.error, form .textarea, form .checkboxinput {
  margin-bottom: 1px !important;
}

.holder {
  margin-bottom: 1rem;
}

/* ------------ */

/* base desing */
.inner-wrap {
  width: auto; }

.move-right .inner-wrap {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  margin-left: 114px; }

.left-off-canvas-menu {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  position: fixed;
  width: 0;
  height: 100%; }

.move-right .left-off-canvas-menu {
  width: 114px; }

.move-right .exit-off-canvas {
  display: none; }

.left-off-canvas-toggle {
  display: none;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 3rem;
  color: #333;
  transition: all .25s ease-in-out; }
  .left-off-canvas-toggle:focus {
    color: #333; }
  .left-off-canvas-toggle:hover {
    color: #8c8c8c;
    transition: all .25s ease-in-out; }

.five-up a.item {
  min-width: 114px;
}

.five-up a label {
  font-size: 0.82rem;
  margin-top: 5px;
}

.five-up a.item.bottom {
  position: absolute;
  bottom: 0;
}

/* css for site */
.content {
  padding: 20px 50px;
}

.login-box {
  background: #fafafa;
  padding: 25px 30px 10px 30px;
  max-width: 450px;
  margin: auto;
}

#room-list-table {
  width: 100%;
}

#room-list-table thead th {
  text-align: center;
}

#room-list-table tbody tr td:last-child {
  width: 1px;
}

#room-list-table .button {
  margin: 0;
}

.approve-box label {
  font-weight: bold;
}

.approve-box .r-text {
  font-size: 0.9rem;
}

.approve-box {
  background: #fafafa;
  margin: 15px 15px;
  padding: 10px 20px !important;
  max-width: 500px;
  display: block;
}

.approve-box form{
  position: absolute;
  bottom: 0px;
  right: 20px;
}

.col-min {
  width: 1px;
  white-space: nowrap;
}

/* calendar styles */
#calendar {
  margin: auto;
}

#calendar {
  font-size: 14px;
}

#calendar h2 {
  font-size: 1.9rem;
  margin-top: -6px;
  color: #444;
}

#calendar .fc-axis.fc-time {
  color: #444;
}

#calendar .fc-cell-text {
  color: #444;
}

/* foundation reset */
#calendar table {
  background-color: transparent;
  margin-bottom: 0;
}

#calendar tr, tr.fc-minor, thead {
  background: initial;
}

#calendar table tr:nth-of-type(even) {
  background: none;
}

#calendar thead td {
  font-weight: normal !important;
}
#calendar thead {
  background: none !important;
}

#profile-box {
  position: absolute;
  margin-bottom: 50px;
}

#profile-box #user-data {
  margin-left: 170px;
}

.reservations-table {
  width: 100%;
}


/* tables */
table.tablesorter thead tr th {
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter .no-sort {
  cursor: auto;
}
table.tablesorter thead tr .headerSortUp:not(.no-sort) {
    background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown:not(.no-sort) {
    background-image: url(desc.gif);
}

.tablesorter {
  margin-bottom: 50px;
}

.tablesorter td {
  padding: 15px;
}

.tablesorter.condensed td {
  padding: 5px;
}

.tablesorter .button {
  margin: 0;
}
