{% extends "base.html" %}
{% load i18n %n
{% load crispy_forms_tags %}

{% block content %}


<h2>
  {% if request.user.is_staff %}
    <a class="button success small ffab-before fa-plus right" href="{% url "room.create" %}" style="margin-top: 3px;">
      Add new room
    </a>
  {% endif %}
  Rooms
</h2>

<table id="room-list-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for room in object_list %}
      <tr>
        <td>
          {{ room.name }}
        </td>
        <td>
          {{ room.description|default:"-" }}
        </td>
        <td>
          <a class="button tiny secondary ffab-after fa-eye" href="{% url "room.detail" slug=room.slug %}">
            view
          </a>
          {% if request.user == room.creator or request.user.is_superuser %}
            <a class="button tiny ffab-after fa-pencil" href="{% url "room.edit" slug=room.slug %}">
              edit
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
