{% extends "base.html" %}
{% load i18n %n
{% load crispy_forms_tags %}

{% block content %}
<form method="POST" action="">
  {% csrf_token %}

  {% include "_display-non-field-errors.html" with form=form %}

  {{ form.title|as_crispy_field }}
  {{ form.room|as_crispy_field }}
  {{ form.start|as_crispy_field }}
  {{ form.end|as_crispy_field }}
  {{ form.is_public|as_crispy_field }}

  <button type="submit" class="button success small ffab-before fa-plus right">
    Create
  </button>

</form>
{% endblock %}
