{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}



<h2>
  {% if request.user.is_staff %}
    <a class="button success small ffab-before fa-plus right" href="{% url "reservation.create" %}" style="margin-top: 3px;">
      Create reservation
    </a>
  {% endif %}
  Reservations
</h2>

<table id="room-list-table">
  <thead>
    <tr>
      <th>Title</th>
      <th class="col-min">Start</th>
      <th class="col-min">End</th>
      <th>User</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for r in approved %}
      <tr>
        <td>
          {{ r.title }}
        </td>
        <td class="col-min">
          {{ r.start }}
        </td>
        <td class="col-min">
          {{ r.end }}
        </td>
        <td class="col-min">
          {{ r.reserver }}
        </td>
        <td>
          <a class="button tiny secondary ffab-after fa-eye" href="{% url "reservation.detail" pk=r.pk %}">
            view
          </a>
        </td>
      </tr>
      {% empty %}
        <tr>
          <td colspan="4">No reservations</td>
        </tr>
    {% endfor %}
  </tbody>
</table>


{% if request.user.is_staff %}
  <h3>
    Pending reservations
  </h3>

  <ul class="large-block-grid-2 small-block-grid-1">
    {% for p in pending %}
      <li class="approve-box" style="position: relative;">
        <form action="{% url "reservation.approve" pk=p.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="button alert tiny ffab-before fa-times" name="reject">
            Reject
          </button>
          <button type="submit" class="button success tiny ffab-before fa-check" name="approve">
            Approve
          </button>
        </form>
        <div style="float: right; text-align: center;" class="r-text">
          {{ p.start }}
          <br />
          -
          <br />
          {{ p.end }}
        </div>
        <label>Title</label>
        <span class="r-text">{{ p.title }}</span>
        <label>User</label>
        <span class="r-text">{{ p.reserver }}</span>
        <label>Public</label>
        <span class="r-text">
          <i class="fa fa-{% if p.is_public %}check{% else %}times{% endif %}"></i>
        </span>
        <div style="clear: both;"></div>
      </li>
      {% empty %}
        <li>No pending reservations</li>
    {% endfor %}
  </ul>

  <h3>
    Rejected reservations
  </h3>
{% endif %}

<h3>
  Previous reservations
</h3>

{% endblock %}
