{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="login-box">
  {% if form.non_field_errors %}
    <div class="alert-box alert">
      {% for error in form.non_field_errors %}
        <div>{{ error|striptags }}</div>
      {% endfor %}
    </div>
  {% endif %}
  <form method="POST" action="">
    {% csrf_token %}

    {{ form.username|as_crispy_field }}
    {{ form.password|as_crispy_field }}
    {% if saml2 %}
      <a href="{% url "saml2_login" %}" class="button sucess small ffab-before fa-user">
        SSO
      </a>
    {% endif %}
    <button type="submit" class="button success small right ffab-before fa-user">
      {% trans "Login" %}
    </button>
    <p style="clear: both; font-size: 0.95rem; margin-top: 5px;">
      You have no account?
      <a href="{% url "register" %}">Register</a> a new one!
    </p>
  </form>
  <div style="clear: both;"></div>
</div>
{% endblock %}
